<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
        body, html {
            line-height: 1.15;
            font-size: 16px;
            font-family: Manrope;
            margin: 1rem;
        }
    </style>
    <title>Simple-Badge-Gen</title>
</head>
<body>
    <h1>Simple-Badge-Gen is Working!</h1>
    <span>Simple-Badge-Gen is an API that can help you in creating simple but looking good badges that can be used in any project, readme.md or some another places.</span>
    <p>Project on <a href="https://github.com/fadegor05/Simple-Badge-Gen">GitHub</a></p>
    <p>Made by Egor Fadeev ( <a href="https://github.com/fadegor05">fadegor05</a> )</p>
</body>
</html>